{% extends "base.html" %}

{% block head %}
{% set js %} {% include "js/article.js" %} {% endset %}
<script type="module">
  {{ js | jsmin | safe }}
</script>
<link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
{% endblock %}

{% block left %}
<aside class="toc-container">
  {{ content | toc | safe }}
</aside>
{% endblock %}

{% block outside %}
<div aria-hidden="true" class="progress-bar"><div class="progress-bar-inner"></div></div>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
{{ super() }}
{% endblock %}
