{% extends "base.html" %}

{% block head %}
{% set js %} {% include "js/article.js" %} {% endset %}
<script type="module">
  {{ js | jsmin | safe }}
</script>
{% set copy_btn %} {% include "js/copy_button.js" %} {% endset %}
<script>
  {{ copy_btn | jsmin | safe }}
</script>
{% endblock %}

{% block left %}
<aside class="toc-container">
  {{ content | toc | safe }}
</aside>
{% endblock %}

{% block outside %}
<div aria-hidden="true" class="progress-bar"><div class="progress-bar-inner"></div></div>
{% endblock %}

{% block content %}
<div class="article-header">
  <h1 style="margin-bottom: 0px">{{ title }}</h1>
  {% set date = date.toISOString().split("T")[0] %}
  <time datetime="{{ date }}">{{ date }}</time>
</div>
{{ super() }}
{% endblock %}
