<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="Diego Frias">
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
    <title>{{ title }} - dzfrias</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/js/index.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% eleventyGoogleFonts "https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap" %}
  </head>
  <body>
    <header>
      <nav>
        <a href="/" aria-label="Home">
          <div class="header-logo">
            {% include "logo.svg" %}
          </div>
        </a>
        <ul>
          {% for item in navigation.items %}
          <li {% if page.url == item.url %}aria-current="page"{% endif %}>
            <a href="{{ item.url }}">{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <main class="{% if full %}full{% endif %}" tabindex="-1">
      {% block content %}
      <div class="article-container"><div class="article-wrapper">{{ content | safe }}</div></div>
      {% endblock %}
    </main>
  </body>
</html>
