<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="Diego Frias">
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
    <title>{{ title }} - dzfrias</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/js/index.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0f0f0f">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
    <meta name="theme-color" content="#0f0f0f">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% eleventyGoogleFonts "https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap" %}
  </head>
  <body>
    <header>
      <nav>
        <a href="/" aria-label="Home">
          <div class="header-logo">
            {% include "logo.svg" %}
          </div>
        </a>
        <ul>
          {% for item in navigation.items %}
          <li {% if page.url == item.url %}aria-current="page"{% endif %}>
            <a href="{{ item.url }}">{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    {% block outside %}
    {% endblock %}
    <main tabindex="-1">
      <div id="main-left">
        {% block left %}
        {% endblock %}
      </div>
      <div id="main-content" style="margin-top: 1rem; width: var(--width)">
        <div style="width: min(95%, 65ch)">
          {% block content %}{{ content | safe }}{% endblock %}
        </div>
      </div>
      <div id="main-right">
        {% block right %}
        {% endblock %}
      </div>
    </main>
  </body>
</html>
