@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-display: fallback;
  font-style: normal;
  src:
    url("Montserrat-Regular.woff2") format("woff2"),
    url("Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-display: fallback;
  font-style: italic;
  src:
    url("Montserrat-Italic.woff2") format("woff2"),
    url("Montserrat-Italic.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-display: fallback;
  font-style: normal;
  src:
    url("Montserrat-Bold.woff2") format("woff2"),
    url("Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-display: fallback;
  font-style: italic;
  src:
    url("Montserrat-BoldItalic.woff2") format("woff2"),
    url("Montserrat-BoldItalic.woff") format("woff");
}
