@use "reset.scss";
@use "variables.scss";
@use "sass:color";

// Default vertical space between items on the page (paragraphs, lists, etc.)
$spacing: 2rem;

::selection {
  background: variables.$accent-fade;
}

html {
  font-size: 19px;
  font-family: variables.$main-font;
}

body {
  background: variables.$bg;
  color: variables.$fg;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.75;
}

a {
  color: variables.$accent;
  text-decoration-thickness: 2px;

  &:hover {
    background-image: linear-gradient(90deg, variables.$accent-fade, variables.$accent-fade);
    background-size: 100% 30px;
    background-repeat: no-repeat;
    background-position: left 0.7em;
    padding-block: 0.1em;
  }
}

nav {
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;

  a {
    text-decoration-thickness: 3px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-bottom: unset;

    li {
      display: inline;

      &[aria-current="page"] a {
        color: variables.$fg;
        &:hover {
          background-image: linear-gradient(90deg, variables.$fg-fade, variables.$fg-fade);
        }
      }
    }
  }
}

ul {
  list-style-position: inside;
  margin-bottom: $spacing;
}

main {
  width: min(80%, 65ch);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: $spacing;
  position: relative;
  margin-top: 1rem;
  line-height: 1.3;
  color: variables.$fg-bright;

  &::after {
    content: "";
    position: absolute;
    width: 50%;
    border-bottom: 2px solid variables.$accent-fade;
    bottom: 0;
    left: 25%;
  }
}

h2 {
  color: variables.$fg-bright;
  font-size: 1.8rem;
  font-weight: bold;
  position: relative;
}

b {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  margin-bottom: $spacing;
}

.posts {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &-item {
    padding-left: 1rem;
    margin-bottom: 1rem;

    &-title {
      font-size: 1.5rem;
    }

    &-time {
      color: variables.$fg-fade;
      font-size: 0.9em;
    }

    &-description {
      margin-bottom: unset;
    }
  }
}

.line {
  position: absolute;
  height: 100%;
  border-left: 1px solid variables.$accent-fade;
}
