@use "sass:color";

$bg: rgb(34, 34, 34);
$bg-dark: rgb(25, 25, 25);
$fg: rgb(201, 201, 201);
$fg-bright: #f3efe1;
$fg-fade: #939393;
$accent: rgb(187, 167, 104);
$accent-fade: color.adjust($accent, $alpha: -0.4, $saturation: -20%);

$main-font: "Ubuntu", sans-serif;
