@use "sass:color";

$bg: #1d1c1c;
$fg: #f3efe1;
$fg-fade: #827f76;
$accent: #d5c152;
$accent-fade: color.adjust($accent, $alpha: -0.4, $saturation: -20%);

$main-font: "Montserrat", sans-serif;
$title-font: "Playfair Display", serif;
