---
title: Blog
layout: base
eleventyImport:
  collections: [posts]
description: The posts of Diego Frias's programming blog
pagination:
  data: collections.sortedPosts
  size: 4
---

<h1>Blog</h1>
<ol class="posts">
  {%- for item in pagination.items %}
  <li class="posts-item">
    <article>
      <h2 class="posts-item-title">
        <a href="{{ item.url }}">{{ item.data.title }}</a>
      </h2>
      {% set date = item.data.date.toISOString().split("T")[0] %}
      <time class="posts-item-time" datetime="{{ date }}">{{ date }}</time>
      <p class="posts-item-description">{{ item.data.description }}</p>
    </article>
  </li>
  {% endfor -%}
  <div class="pagination-nav">
    <div class="pagination-nav-arrows">
      {% if pagination.href.previous %}<a class="pagination-nav-arrows-item" href="{{ pagination.href.previous }}">{% include "arrow-left.svg" %}</a>{% endif %}
      {% if pagination.href.next %}<a class="pagination-nav-arrows-item" href="{{ pagination.href.next }}">{% include "arrow-right.svg" %}</a>{% endif %}
    </div>
    <p>{{ pagination.pageNumber + 1 }} of {{ (collections.sortedPosts.length + pagination.size - 1) // pagination.size }}</p>
  </div>
</ol>
