---
title: Projects
layout: projects
description: A list of featured projects made by Diego Frias
full: true
---

<h1>Projects</h1>
<p style="width: min(90%, 60ch)">
  These are the projects that I'm the most proud of working on! They were all
  made in different time periods in my experience in programming. They're sorted
  by newest to oldest (their quality generally follows that line as well).
</p>
<ul class="projects">
  {% set index = 0 %}
  {% for project in projects.items %}
  <li class="projects-item" style="--importance: {{ project.importance }}; --delay: {{ index * 100 }}ms">
    <h2 class="projects-item-name">
      <a href="{{ project.url }}">{{ project.name }}</a>
    </h2>
    <p class="projects-item-description">{{ project.description | safe }}</p>
    {% if project.img %}
    <img class="projects-item-img" src="{{ project.img }}" alt="image" />
    {% endif %}
    {% set index = index + 1 %}
  </li>
  {% endfor %}
</ul>
